<div class='col-sm-6 col-sm-offset-3'>
	<h1><%= current_user.name %></h1>
	<h3><%= current_user.title %></h3>
	<h3><%= current_user.department %></h3>
	<br />
</div>

<div class='col-sm-6 col-sm-offset-3'>
	<div class="today-desk">
	Today's desk is <%= Booking.today_desk %>
</div>
</div>

<br />

<div class='col-sm-6 col-sm-offset-3'>
	<br />
	<h3>Desk Schedule</h3>
		<div class="desk-schedule">
			<% Booking.desk_schedule.each do |i| %>
			<%= i.book_from %> <a style= "color: #ce424f">to</a> <%= i.book_to %> <a style= "color: #FFFFFF">--------------</a> desk_id: <%= i.desk_id %>
			<br />
			<% end %>
		</div>
</div>
