<br />
1. Check user nature_of_job (Fixed/Project/Flexi)
	current_user(nature_of_job) = ?
	<br />
	Flexible: max 1 week
	<br />
	Project-Based: max 6 months
	<br />
	Fixed: max 1 year
<br />
2. Check if user have more than 2 active bookings
	Go thru bookings table and check current_user(user_id) > 2
<br />
3. Choose date range (filter)
<br />
4. Show available desks (list)
<br />
5. Book selected desk
<br />
6. Mark selected desk as occupied (Desk.status)
<br />
7. Active bookings of user = +

<%= form_tag book_user_bookings_path, multipart: true do %>

  <div class='form-group'>
  <%= label_tag :book_from %><br />
  <%= date_select :book_from, class:  'form-control' %>
  </div>

  <div class='form-group'>
  <%= label_tag :book_to %><br />
  <%= date_select :book_to, class:  'form-control' %>
  </div>

  <div class='form-group'>
  <%= fields_for :wing do %>	
  <%= label_tag :wing %><br />
  <%= text_field :wing, class: 'form-control'%>
  <% end %>
  </div>

  <div class='form-group'>
  <%= fields_for :section do %>	
  <%= label_tag :section %><br />
  <%= text_field :section, class: 'form-control'%>
  <% end %>
  </div>

  <div class='form-group'>
  <%= fields_for :number do %>	
  <%= label_tag :number %><br />
  <%= text_field :number, class: 'form-control'%>
  <% end %>
  </div>

  <br />

  <%= submit_tag "Book", class: "btn btn-default" %>
  <% end %>