<div class="container-fluid">
    <div class="row">
      <div class='col-sm-6 col-sm-offset-3'>
        <h1>Check Availability</h1><hr />
      </div>

      <div class='col-sm-6 col-sm-offset-3'>
        <%= form_tag check_availability_user_bookings_path, multipart: true do %> 
          <div class='form-group'>
            <span class='not-bold'><%= label_tag :book_from, "Book From" %>: </span></br>
            <span class='date-select'><%= date_select :book_from, class:  'form-control' %></span>
          </div>

          <div class='form-group'>
            <span class='not-bold'><%= label_tag :book_to, "Book To" %>: </span><br />
            <span class='date-select'><%= date_select :book_to, class:  'form-control' %></span>
          </div>

          <%= submit_tag "Check Availability", class: "btn" %>
          <% end %>
      </div>

  <br />

<div class='col-sm-6 col-sm-offset-3'>
  <br /> 
  <hr />
    <button type="button" class="button">
      <%= link_to "My Bookings", authenticated_root_path %>
    </button>
    
    <button type="button" class="button">
      <%= link_to "Book Desk", new_user_booking_path(current_user) %>
    </button>
</div>

<!-- <h1> Bookings </h1>
  <% Booking.all.each do |booking| %>
    <%= booking.user_name %>
    <%= booking.book_from %>
    <%= booking.book_to %>
    <%= booking.desk_id %>
    <br />
  <% end %>
</div> -->