<table>
  <thead>
    <tr>
      <th>Desk_type</th>
      <th>Status</th>
      <th>Wing</th>
      <th>Section</th>
      <th>Number</th>
    </tr>
  </thead>

   <tbody>
   	<tr>
		<td><%= @desk.desk_type %></td>
		<td><%= @desk.status %></td>
		<td><%= @desk.wing %></td>
		<td><%= @desk.section %></td>
		<td><%= @desk.number %></td>
	</tr>
  </tbody>