<!DOCTYPE html>
<html>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

    <% if user_signed_in? %>
    <p class="navbar-text pull-left">Logged in as <strong><%= current_user.name %></strong>.</p>
    <p class="navbar-text pull-right">
      <%= link_to 'Change Password', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
    <p class="navbar-text pull-right">
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    </p>
  </p>

<head>
  <title>Hotdesk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<br />

<body>

<%= yield %>

</body>

</html>
